/* Homepage.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: linear-gradient(to right, #8E2DE2, #4A00E0); /* Purple Gradient. INPUTTED BY KLEIN MIYUKI */
    color: #72d3ab;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .main-container {
    background-color: #f0f0f0;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  h1 {
    color: #006400;
  }
  
  h2 {
    color: #006400;
  }
  
  p {
    color: #777;
    line-height: 1.5;
  }
  
  .sign-in-button {
    background-color: #fff;
    color: #333;
    padding: 8px 16px;
    border: none;
    border-radius: 20px; /* To set the border-radius to create an oval shape. INPUTTED BY STEPHEN */
    cursor: pointer;
  }
  
  .sign-in-button:hover {
    background-color: #ddd;
  }
  .stephen {
    background-color: #3498db;
  }
  .login-button {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #7a7a7a;
    padding: 8px 16px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #ffffff;
    color: #ffffff; /* Adjust the color as needed. Though, samasan miya pa ini sir. Mantun kami pang masanting a color pallete sir. Klein / Stephen */
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-links.collapsed {
    display: none;
  }
  
  .navbar-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-links li {
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .navbar-toggle-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-links.collapsed {
    display: none;
  }

  /* Remove the conditional display property */
.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

 
